/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


/* PrimeIcons (Ensure you run: npm install primeicons) */
@import "primeicons/primeicons.css";

/* Global Resets */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #f9fafb; /* Gray-50 */
}